:root{
    --cor1:#89004f;
    --cor2:#c33b80;
    --cor3:#ff69b4;
    --cor4:#ffa8d9;
    --cor5:#ffaeff;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--cor1);
    padding: 10px;
    height: 135px;
}
h2#quemsou{
    text-align: center;
    font-family: cursive;
}
header h1{
    text-align: center;
    padding: 5px;
    margin: 2px;
    margin: 30px;
    color: var(--cor4)
}
header a{
    margin-top: 10px;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: var(--cor3);
    border: 2px solid;
}
 header a:hover{
    color: #ffaeff;
    font-size: 18px;
    box-shadow: 1px var(--cor4);
}
body{
    background-color: var(--cor3);
}
p{
    text-align: justify;
    display: inline-block;
}
main p{
    width: 800px;
    min-width: 100px;
}
main{
    width: 900px;
    min-width: 100px;
    min-height: 100px;
}
#loja{
    width: 250px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(300px,-160px);
}
div{
    display: inline-block;
    text-align: end;
}
footer{
    background-color: var(--cor1);
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer a{
    color: var(--cor5);
    text-decoration: none;
}
section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display:inline-block;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.482);
    position: relative;
    left: 50%;
}
main a{
    box-shadow: 10px rgb(0, 0, 0);
    display: inline-block, block;
    margin: auto;
}
section a{
    padding: 10px;
}
section img:hover{
    border: 2px solid white;
    transform: translate(-2px, -2px);
    height: 55px;
    width: 55px;
    transition: transform .7s, border 1s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.636);
}
h2{
    padding: 10px;
}
section p{
    margin: 5px;
    margin-bottom: 20px;
}
fieldset{
    background-color:var(--cor2);
}
form p {
    padding: 7px;
}
legend{
    color: white;
}
fieldset{
    border: 2px dashed var(--cor3);
}
label{
    color: var(--cor5);
}
#botão{
    text-align: center;
    display: inline-block;
}