@charset "UTF-8";

:root{
    --cor1:#89004f;
    --cor2:#c33b80;
    --cor3:#ff69b4;
    --cor4:#ffa8d9;
    --cor5:#ffaeff;
}

*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: var(--cor2);
    height: 90px;
}
header h1{
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header label{
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
}
